Repository RendaZhang/rendazhang: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, validate-assets, update-docs, sync-readme, generate-index

stylelint:
  name: Stylelint
  entry: npx stylelint
  language: system
  pass_filenames: true
  args:
  - --fix

validate-assets:
  name: Validate asset filenames
  entry: npm run validate-assets
  language: system
  stages:
  - pre-commit

update-docs:
  name: Update docs (TOC + Last Updated)
  entry: npm run update-docs
  language: system
  stages:
  - pre-commit

sync-readme:
  name: Sync README copies
  entry: npm run sync-readme
  language: system
  stages:
  - pre-commit

generate-index:
  name: Generate Index Files
  entry: npm run generate-index
  language: system
  stages:
  - pre-commit

Extend Stylelint configuration and setup
  .pre-commit-config.yaml
  src/styles/components/about.css
  src/styles/components/app-header.css
  src/styles/components/button/button.css
  src/styles/components/certifications.css
  src/styles/components/chat_widget.css
  src/styles/components/deepseek_chat.css
  src/styles/components/docs.css
  src/styles/components/form/form.css
  src/styles/components/loaders.css
  src/styles/components/markdown-dark-mode.css
  src/styles/components/misc.css
  src/styles/components/navigation/navigation.css
  src/styles/components/social-icons.css
  src/styles/layout.css
  src/styles/theme.css
  src/styles/utilities/layout-system.css
  src/styles/utilities/utility-classes.css
  stylelint.config.cjs
Due: stylelint

Fix stylelint errors in CSS files
  docs/REQUIREMENTS.md
  docs/STYLE_GUIDE.md
  docs/TROUBLESHOOTING.md
  public/js/base-layout-init.js
  src/components/chat/AIMessage.tsx
  src/components/providers/ThemeProvider.tsx
  src/components/ui/data-display/LocalizedSection.tsx
  src/components/ui/data-display/SocialIcons.tsx
  src/components/ui/media/ResponsiveHero.tsx
  src/layouts/BaseLayout.astro
  src/pages/deepseek_chat.astro
  src/pages/docs.astro
  src/scripts/base-layout-init.ts
  src/styles/components/certifications.css
  src/styles/components/deepseek_chat.css
  src/styles/components/docs.css
  src/styles/components/github-markdown-light.min.css
  src/styles/components/markdown-dark-mode.css
  src/styles/components/responsive-hero.css
  src/styles/components/social-icons.css
  src/styles/layout.css
  src/styles/theme.css
  src/styles/utilities/layout-system.css
Due: stylelint, update-docs, generate-index

Rename github-markdown-light.min.css
  README.md
  README_EN.md
  docs/TROUBLESHOOTING.md
  src/assets/README.md
  src/assets/README_EN.md
  src/constants/paths.ts
  src/styles/components/github-markdown-light.css
Due: stylelint, validate-assets, update-docs, sync-readme, generate-index

Rename github.min.css to github.css and conform to style guide
  README.md
  README_EN.md
  docs/TROUBLESHOOTING.md
  src/assets/README.md
  src/assets/README_EN.md
  src/constants/paths.ts
  src/styles/components/github.css
  src/styles/components/github.min.css
Due: stylelint, validate-assets, update-docs, sync-readme, generate-index

Remove redundent comment from css file
  src/styles/components/github.css
Due: stylelint

Fix chat widget position and visibility
  src/components/chat/widgets/ChatWidget.tsx
  src/styles/components/chat_widget.css
  src/styles/utilities/utility-classes.css
Due: stylelint, generate-index

Fix c-loader display issue on homepage
  src/__tests__/SocialIcons.test.tsx
  src/components/ui/data-display/SocialIcons.tsx
Due: generate-index

Fix layout issues in application
  src/components/sections/SocialIconsEffects.tsx
  src/components/ui/data-display/SocialIcons.tsx
  src/styles/components/certifications.css
  src/styles/components/social-icons.css
  src/styles/layout.css
Due: stylelint, generate-index

Fix UI issues with Chat Widget
  src/styles/components/chat_widget.css
  src/styles/components/deepseek_chat.css
  src/styles/components/navigation/navigation.css
Due: stylelint

Centered the Credly certification spinner and Ensured docs anchors scroll just below the fixed navigation by adding a token-based scroll margin to all headings
  src/styles/components/docs.css
  src/styles/components/loaders.css
Due: stylelint

Update Chat Widget panel behavior
  src/components/chat/widgets/ChatWidget.tsx
Due: generate-index

Fix duplicate ID issue in documentation
  docs/TROUBLESHOOTING.md
  src/components/sections/DocsEffects.tsx
Due: update-docs, generate-index

Update Register Form: Update Validation message to support muliti-language
  src/components/forms/RegisterForm/RegisterForm.tsx
  src/content/registerContent.ts
Due: generate-index

Fix input validation timing on register page
  src/components/forms/RegisterForm/RegisterForm.tsx
Due: generate-index

Improve iframe loading experience
  src/components/chat/widgets/ChatWidget.tsx
  src/styles/components/chat_widget.css
Due: stylelint, generate-index

Update the c-chat-widget-skeleton to use the same border-radius as the chat_widget and improve the aboutContent
  src/content/aboutContent.ts
  src/styles/components/chat_widget.css
Due: stylelint, generate-index

Remove loading animation from chat widget
  src/components/chat/widgets/ChatWidget.tsx
  src/styles/components/chat_widget.css
Due: stylelint, generate-index

Adjust nav and main overlap
  docs/TROUBLESHOOTING.md
  src/styles/components/navigation/navigation.css
  src/styles/layout.css
Due: stylelint, update-docs

Adjust the responsive design for the navigation bar and the main content
  src/styles/components/navigation/navigation.css
  src/styles/layout.css
Due: stylelint

DOC: Add new troubleshooting bug record for chat widget iframe behaviour
  docs/TROUBLESHOOTING.md
Due: update-docs

Delay chat input until ready
  docs/TROUBLESHOOTING.md
  src/components/chat/Chat.tsx
  src/components/chat/widgets/ChatWidget.tsx
  src/hooks/useChatHistory.ts
Due: update-docs, generate-index

Handle core load errors in chat componentHandle core load errors in chat component
  src/components/chat/Chat.tsx
Due: generate-index

Update ChatInput rendering and logic
  src/components/chat/Chat.tsx
Due: generate-index

Remove spinner and add skeleton loader
  src/__tests__/ChatLoadingIndicator.test.tsx
  src/components/chat/LoadingIndicator.tsx
  src/styles/components/chat_widget.css
  src/styles/components/chat_widget_skeleton.css
  src/styles/components/deepseek_chat.css
Due: stylelint, generate-index

Ensured loading text always appears above the skeleton by positioning the text container relative with a higher z-index
  src/components/chat/LoadingIndicator.tsx
  src/styles/components/chat_widget_skeleton.css
  src/styles/components/deepseek_chat.css
Due: stylelint, generate-index

Remove c-typing-indicator after stream output
  src/__tests__/TypingIndicator.test.tsx
  src/components/chat/Chat.tsx
Due: generate-index

dded Stylelint plugin rules to enforce token-based colors and disallow raw rgb/hex values, ensuring consistent design token usage across styles
  docs/STYLE_GUIDE.md
  package-lock.json
  package.json
  src/styles/components/button/README.md
  src/styles/components/deepseek_chat.css
  src/styles/components/form/README.md
  src/styles/components/github-markdown-light.css
  src/styles/components/github.css
  src/styles/components/loaders.css
  src/styles/components/navigation/README.md
  stylelint.config.cjs
Due: stylelint, update-docs

Update certification grid + Credly embed and chat layout + GitHub style Markdown, and Rename github.css and update references
  README.md
  README_EN.md
  docs/TROUBLESHOOTING.md
  src/assets/README.md
  src/assets/README_EN.md
  src/constants/paths.ts
  src/pages/deepseek_chat.astro
  src/pages/docs.astro
  src/styles/components/button/button.css
  src/styles/components/certifications.css
  src/styles/components/deepseek_chat.css
  src/styles/components/github-code-highlight.css
  src/styles/components/github-markdown-light.css
  src/styles/components/github-markdown-light.md
  src/styles/core/tokens.css
Due: stylelint, validate-assets, update-docs, sync-readme, generate-index

Add documentation for all the styles components and continue to refine the css based on the design standards
  docs/STYLE_GUIDE.md
  docs/TROUBLESHOOTING.md
  src/components/chat/ChatInput.tsx
  src/components/chat/EnhancementProgress.tsx
  src/styles/components/about.md
  src/styles/components/app-header.md
  src/styles/components/certifications.md
  src/styles/components/chat_widget.md
  src/styles/components/chat_widget_skeleton.md
  src/styles/components/deepseek_chat.css
  src/styles/components/deepseek_chat.md
  src/styles/components/docs.md
  src/styles/components/github-code-highlight.md
  src/styles/components/github-markdown-light.css
  src/styles/components/loaders.css
  src/styles/components/loaders.md
  src/styles/components/login.md
  src/styles/components/markdown-dark-mode.css
  src/styles/components/markdown-dark-mode.md
  src/styles/components/misc.css
  src/styles/components/misc.md
  src/styles/components/register.md
  src/styles/components/responsive-hero.md
  src/styles/components/social-icons.md
  src/styles/core/tokens.css
Due: stylelint, update-docs, generate-index

Standardized motion duration tokens, Unified dark-mode variables, Moved shared section spacing and fix the Credly iframe browser refresh caching issue
  .github/pull_request_template.md
  docs/REQUIREMENTS.md
  docs/STYLE_GUIDE.md
  docs/TROUBLESHOOTING.md
  package-lock.json
  package.json
  scripts/contrast-check.mjs
  src/components/ui/data-display/CredlyBadge.tsx
  src/styles/components/loaders.css
  src/styles/components/loaders.md
  src/styles/components/misc.css
  src/styles/components/sections.css
  src/styles/components/sections.md
  src/styles/core/tokens.css
  src/styles/theme.css
  src/styles/utilities/layout-system.css
Due: stylelint, update-docs, generate-index

Fix dark mode functionality and contrast
  docs/STYLE_GUIDE.md
  docs/TROUBLESHOOTING.md
  public/js/base-layout-init.js
  src/components/providers/ThemeProvider.tsx
  src/components/ui/data-display/CredlyBadge.tsx
  src/scripts/base-layout-init.ts
  src/styles/components/markdown-dark-mode.css
  src/styles/components/markdown-dark-mode.md
Due: stylelint, update-docs, generate-index

Introducecd resuable breakpoint and width tokens and Removed the legacy alias stylesheet
  README.md
  README_EN.md
  docs/STYLE_GUIDE.md
  src/assets/README.md
  src/assets/README_EN.md
  src/styles/components/form/form.css
  src/styles/components/github-markdown-light.css
  src/styles/components/github-markdown-light.md
  src/styles/components/navigation/navigation.css
  src/styles/core/legacy-alias.css
  src/styles/core/tokens.css
  src/styles/theme.css
Due: stylelint, validate-assets, update-docs, sync-readme

Change NavBarWrapper and ChatWidget to client:visible
  src/layouts/BaseLayout.astro
Due: none

Certification Page: Delay setStatus in onLoad callback
  src/components/ui/data-display/CredlyBadge.tsx
Due: generate-index

Extract shimmer animation styles and Applied it to the Credly Badge skeletons
  src/components/chat/LoadingIndicator.tsx
  src/components/chat/widgets/ChatWidget.tsx
  src/components/ui/data-display/CredlyBadge.tsx
  src/styles/components/certifications.css
  src/styles/components/chat_widget_skeleton.css
Due: stylelint, generate-index

Refactor skeleton styles for reusability
  src/styles/components/certifications.css
  src/styles/components/chat_widget.css
  src/styles/components/chat_widget_skeleton.css
  src/styles/components/deepseek_chat.css
  src/styles/components/loaders.css
  src/styles/components/skeleton.css
  src/styles/components/skeleton.md
Due: stylelint

Documented CSS Stats usage, exposed a css:stats script, and listed the additional breakpoint token in the style guide
  docs/STYLE_GUIDE.md
  package-lock.json
  package.json
  src/styles/components/deepseek_chat.css
  src/styles/core/tokens.css
  src/styles/utilities/utility-classes.css
Due: stylelint, update-docs

Fix c-side-menu-overlay coverage issue
  src/components/layouts/HamburgerMenu.tsx
  src/styles/components/navigation/navigation.css
Due: stylelint, generate-index

Change resumeLink and contactBtn to button
  src/components/sections/BioSection.tsx
Due: generate-index

Fix vertical alignment of c-password-toggle
  src/styles/components/form/form.css
Due: stylelint

Path conditions:
  stylelint: any of: \.css$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  validate-assets: any of: ^src/assets/.*, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  update-docs: any of: ^(README(?:_EN)?\.md|docs/.*\.md)$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  sync-readme: any of: ^(README(_EN)?\.md)$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  generate-index: any of: ^src/.*\.(ts|tsx)$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

