Repository RendaZhang/rendazhang: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, validate-assets, update-docs, sync-readme, generate-index

stylelint:
  name: Stylelint
  entry: npx stylelint
  language: system
  pass_filenames: true
  args:
  - --fix

validate-assets:
  name: Validate asset filenames
  entry: npm run validate-assets
  language: system
  stages:
  - pre-commit

update-docs:
  name: Update docs (TOC + Last Updated)
  entry: npm run update-docs
  language: system
  stages:
  - pre-commit

sync-readme:
  name: Sync README copies
  entry: npm run sync-readme
  language: system
  stages:
  - pre-commit

generate-index:
  name: Generate Index Files
  entry: npm run generate-index
  language: system
  stages:
  - pre-commit

Document frontend production audit findings
  docs/REQUIREMENTS.md
Due: update-docs

fix(chat): harden widget messaging and stream parsing
  README.md
  README_EN.md
  docs/CI_CD.md
  docs/guides/SENTRY_ERROR_TRACKING.md
  src/__tests__/chatService.test.ts
  src/assets/README.md
  src/assets/README_EN.md
  src/components/chat/Chat.tsx
  src/components/chat/widgets/ChatWidget.tsx
  src/components/providers/AuthProvider.tsx
  src/content/deepseekChatContent.ts
  src/services/chatService.ts
Due: validate-assets, update-docs, sync-readme, generate-index

fix(csp): disable sentry inline release injection
  astro.config.ts
  docs/guides/SENTRY_ERROR_TRACKING.md
  src/components/chat/ChatInput.tsx
Due: update-docs, generate-index

docs: add agent handoff guide
  AGENTS.md
Due: none

chore: pin frontend node version
  .nvmrc
Due: none

chore: add mise runtime config
  .mise.toml
  AGENTS.md
Due: none

chore: declare frontend runtime constraints
  package-lock.json
  package.json
Due: none

ci: use node 24 action runtime and fix cdn purge
  .github/workflows/deploy.yml
  README.md
  README_EN.md
  docs/REQUIREMENTS.md
  docs/TROUBLESHOOTING.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

ci: update actions runtime dependencies
  .github/workflows/deploy.yml
  docs/CI_CD.md
Due: update-docs

ci: update setup-node action runtime
  .github/workflows/deploy.yml
  docs/CI_CD.md
Due: update-docs

docs: sync github actions versions
  README.md
  README_EN.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

chore: update frontend dependencies
  package-lock.json
  package.json
Due: none

docs: add frontend architecture conventions
  README.md
  README_EN.md
  docs/FRONTEND_ARCHITECTURE.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

docs: add frontend directory ownership map
  README.md
  README_EN.md
  docs/DIRECTORY_OWNERSHIP.md
  docs/FRONTEND_ARCHITECTURE.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

feat: add frontend client store
  docs/DIRECTORY_OWNERSHIP.md
  docs/FRONTEND_ARCHITECTURE.md
  src/__tests__/uiPreferencesStore.test.ts
  src/components/chat/widgets/ChatWidget.tsx
  src/components/providers/ThemeProvider.tsx
  src/hooks/index.ts
  src/hooks/useUiPreferences.ts
  src/index.ts
  src/stores/index.ts
  src/stores/uiPreferencesStore.ts
Due: update-docs, generate-index

refactor: clarify theme token boundaries
  docs/DIRECTORY_OWNERSHIP.md
  docs/FRONTEND_ARCHITECTURE.md
  docs/STYLE_GUIDE.md
  src/styles/core/theme-tokens.css
  src/styles/core/theme-tokens.md
  src/styles/core/tokens.md
  src/styles/theme.css
Due: stylelint, update-docs

feat: unify frontend theme control
  docs/FRONTEND_ARCHITECTURE.md
  src/__tests__/ThemeToggle.test.tsx
  src/components/providers/ThemeProvider.tsx
  src/components/ui/inputs/ThemeToggle.tsx
Due: update-docs, generate-index

docs: document chat widget protocol
  README.md
  README_EN.md
  docs/CHAT_WIDGET_PROTOCOL.md
  docs/DIRECTORY_OWNERSHIP.md
  docs/FRONTEND_ARCHITECTURE.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

fix(deps): patch frontend sentry and babel chain
  package-lock.json
  package.json
Due: none

fix(deps): patch frontend dev audit chain
  package-lock.json
Due: none

refactor: split chat controller
  README.md
  README_EN.md
  docs/CHAT_WIDGET_PROTOCOL.md
  docs/DIRECTORY_OWNERSHIP.md
  docs/FRONTEND_ARCHITECTURE.md
  src/__tests__/chatController.test.ts
  src/assets/README.md
  src/assets/README_EN.md
  src/components/chat/Chat.tsx
  src/controllers/chatController.ts
  src/controllers/index.ts
  src/index.ts
  src/services/chatService.ts
Due: validate-assets, update-docs, sync-readme, generate-index

refactor: unify frontend api client
  docs/CHAT_WIDGET_PROTOCOL.md
  docs/DIRECTORY_OWNERSHIP.md
  docs/FRONTEND_ARCHITECTURE.md
  src/__tests__/apiClient.request.test.ts
  src/__tests__/chatService.test.ts
  src/services/apiClient.ts
  src/services/chatService.ts
Due: update-docs, generate-index

refactor: clean up frontend service boundaries
  docs/DIRECTORY_OWNERSHIP.md
  docs/FRONTEND_ARCHITECTURE.md
  src/__tests__/contactService.test.ts
  src/components/forms/ContactForm/ContactForm.tsx
  src/services/apiClient.ts
  src/services/contactService.ts
  src/services/index.ts
Due: update-docs, generate-index

chore: tighten frontend safety linting
  docs/DIRECTORY_OWNERSHIP.md
  docs/TESTING.md
  eslint.config.ts
  src/components/chat/AIMessage.tsx
  src/components/chat/Chat.tsx
  src/components/chat/ChatInput.tsx
  src/components/providers/AuthProvider.tsx
  src/components/sections/ProfileContent.tsx
  src/components/ui/widgets/ConfirmDialog.tsx
  src/hooks/useMarkdownPipeline.ts
Due: update-docs, generate-index

fix(deps): patch dompurify audit finding
  package-lock.json
  package.json
Due: none

docs: add astro 6 migration precheck
  README.md
  README_EN.md
  docs/ASTRO_6_MIGRATION_PRECHECK.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

build: upgrade astro 6
  docs/ASTRO_6_MIGRATION_PRECHECK.md
  docs/TESTING.md
  package-lock.json
  package.json
  vitest.config.ts
Due: update-docs

chore: enforce frontend import boundaries
  docs/DIRECTORY_OWNERSHIP.md
  docs/TESTING.md
  eslint.config.ts
  src/__tests__/authUtils.test.ts
  src/components/providers/AuthProvider.tsx
  src/utils/auth.ts
  src/utils/index.ts
Due: update-docs, generate-index

build: move frontend runtime to node 24
  .github/workflows/deploy.yml
  .mise.toml
  .nvmrc
  AGENTS.md
  README.md
  README_EN.md
  docs/ASTRO_6_MIGRATION_PRECHECK.md
  docs/CI_CD.md
  docs/TESTING.md
  docs/guides/NATIVE_TO_ASTRO_REACT_UPGRADE.md
  package-lock.json
  package.json
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

ci: pin frontend node 24 runtime
  .github/workflows/deploy.yml
  docs/CI_CD.md
  docs/guides/NATIVE_TO_ASTRO_REACT_UPGRADE.md
Due: update-docs

chore: triage residual frontend audit alerts
  package-lock.json
  package.json
Due: none

chore: resolve glob deprecation warning
  docs/guides/SENTRY_ERROR_TRACKING.md
  package-lock.json
  package.json
  src/__tests__/chatController.test.ts
  src/__tests__/sentryContext.test.ts
  src/components/forms/ContactForm/ContactForm.tsx
  src/components/providers/AuthProvider.tsx
  src/controllers/chatController.ts
  src/utils/index.ts
  src/utils/sentryContext.ts
Due: update-docs, generate-index

docs: document cross-platform mise setup
  AGENTS.md
Due: none

docs: define frontend experience platform
  README.md
  README_EN.md
  docs/FRONTEND_ARCHITECTURE.md
  docs/FRONTEND_EXPERIENCE_PLATFORM.md
  docs/STYLE_GUIDE.md
  docs/TESTING.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

test: add frontend browser smoke harness
  .gitignore
  docs/FRONTEND_EXPERIENCE_PLATFORM.md
  docs/TESTING.md
  package-lock.json
  package.json
  playwright.smoke.config.ts
  tests/smoke/browser-hydration.spec.ts
  vitest.config.ts
Due: update-docs

docs: define theme palette token model
  docs/DIRECTORY_OWNERSHIP.md
  docs/FRONTEND_ARCHITECTURE.md
  docs/FRONTEND_EXPERIENCE_PLATFORM.md
  docs/STYLE_GUIDE.md
  docs/THEME_PALETTE_TOKEN_MODEL.md
Due: update-docs

feat: add theme palette preference store
  docs/DIRECTORY_OWNERSHIP.md
  docs/FRONTEND_ARCHITECTURE.md
  docs/FRONTEND_EXPERIENCE_PLATFORM.md
  docs/THEME_PALETTE_TOKEN_MODEL.md
  src/__tests__/uiPreferencesStore.test.ts
  src/constants/settings.ts
  src/stores/uiPreferencesStore.ts
Due: update-docs, generate-index

feat: add theme color switcher
  README.md
  README_EN.md
  docs/DIRECTORY_OWNERSHIP.md
  docs/FRONTEND_ARCHITECTURE.md
  docs/FRONTEND_EXPERIENCE_PLATFORM.md
  docs/STYLE_GUIDE.md
  docs/TESTING.md
  docs/THEME_PALETTE_TOKEN_MODEL.md
  public/js/base-layout-init.js
  src/__tests__/ThemeToggle.test.tsx
  src/__tests__/themePaletteTokens.test.ts
  src/__tests__/uiPreferencesStore.test.ts
  src/assets/README.md
  src/assets/README_EN.md
  src/components/providers/ThemeProvider.tsx
  src/components/ui/inputs/ThemeToggle.tsx
  src/content/navContent.ts
  src/layouts/BaseLayout.astro
  src/scripts/base-layout-init.ts
  src/stores/uiPreferencesStore.ts
  src/styles/components/navigation/navigation.css
  src/styles/core/theme-tokens.css
  src/styles/core/tokens.css
  tests/smoke/browser-hydration.spec.ts
Due: stylelint, validate-assets, update-docs, sync-readme, generate-index

feat: improve seo geo discoverability
  README.md
  README_EN.md
  docs/SEO_GEO.md
  public/llms.txt
  public/sitemap.xml
  src/assets/README.md
  src/assets/README_EN.md
  src/constants/meta.ts
  src/layouts/BaseLayout.astro
  src/pages/docs.astro
Due: validate-assets, update-docs, sync-readme, generate-index

Path conditions:
  stylelint: any of: \.css$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  validate-assets: any of: ^src/assets/.*, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  update-docs: any of: ^(README(?:_EN)?\.md|docs/.*\.md)$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  sync-readme: any of: ^(README(_EN)?\.md)$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  generate-index: any of: ^src/.*\.(ts|tsx)$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

