Repository RendaZhang/rendazhang: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, validate-assets, update-docs, sync-readme, generate-index

stylelint:
  name: Stylelint
  entry: npx stylelint
  language: system
  pass_filenames: true
  args:
  - --fix

validate-assets:
  name: Validate asset filenames
  entry: npm run validate-assets
  language: system
  stages:
  - pre-commit

update-docs:
  name: Update docs (TOC + Last Updated)
  entry: npm run update-docs
  language: system
  stages:
  - pre-commit

sync-readme:
  name: Sync README copies
  entry: npm run sync-readme
  language: system
  stages:
  - pre-commit

generate-index:
  name: Generate Index Files
  entry: npm run generate-index
  language: system
  stages:
  - pre-commit

Refactor reset alerts to Modal component
  src/components/chat/Chat.tsx
  src/components/ui/widgets/Modal.tsx
  src/components/ui/widgets/index.ts
  src/content/deepseekChatContent.ts
  src/pages/deepseek_chat.astro
  src/styles/components/modal.css
Due: stylelint, generate-index

Wrap c-password-toggle with password input
  src/components/forms/LoginForm/LoginForm.tsx
  src/components/forms/RegisterForm/RegisterForm.tsx
  src/styles/components/form/form.css
Due: stylelint, generate-index

DOC: add new troubleshooting record for Hamburgermenu Hydration mismatch
  docs/TROUBLESHOOTING.md
Due: update-docs

Update chat styles and viewport settings
  src/components/chat/Chat.tsx
  src/constants/settings.ts
  src/styles/components/deepseek_chat.css
Due: stylelint, generate-index

Update documentation for client-side rendering
  README.md
  README_EN.md
  docs/REQUIREMENTS.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

Updated chat styles to hide button text on small containers, display fixed‑width icon buttons, and shrink the control gap so the message input receives more horizontal space
  src/components/chat/ChatInput.tsx
  src/styles/components/deepseek_chat.css
Due: stylelint, generate-index

Update navbar buttons for small screens
  src/components/layouts/NavBar.tsx
  src/components/ui/inputs/ThemeToggle.tsx
  src/styles/components/navigation/navigation.css
Due: stylelint, generate-index

Change reset button to icon on deepseek_chat
  src/components/chat/Chat.tsx
  src/components/chat/ChatInput.tsx
  src/styles/components/deepseek_chat.css
  src/styles/components/deepseek_chat.md
Due: stylelint, generate-index

Fix button resizing on deepseek_chat page
  src/styles/components/deepseek_chat.css
  src/styles/components/deepseek_chat.md
Due: stylelint

Remove client:only from NavBarWrapper
  src/components/layouts/NavBar.tsx
  src/layouts/BaseLayout.astro
Due: generate-index

Update navigation to include HamburgerMenu
  src/components/layouts/HamburgerMenu.tsx
  src/components/layouts/NavBar.tsx
Due: generate-index

Update NavBar with client:load and directly import
  src/components/layouts/NavBar.tsx
  src/layouts/BaseLayout.astro
Due: generate-index

Fix hydration issue with MoonIcon
  src/components/ui/data-display/ThemeIcon.tsx
  src/components/ui/data-display/index.ts
  src/components/ui/inputs/ThemeToggle.tsx
  src/styles/components/navigation/navigation.css
Due: stylelint, generate-index

DOC: Update docs for the Nav bar and hydration error fix
  README.md
  README_EN.md
  docs/REQUIREMENTS.md
  docs/TROUBLESHOOTING.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

Update the Responsive design for the navigation css
  src/styles/components/navigation/navigation.css
Due: stylelint

Try to make the container work for the nav bar
  src/components/layouts/NavBar.tsx
  src/styles/components/navigation/README.md
  src/styles/components/navigation/navigation.css
Due: stylelint, generate-index

Fix @container bug: Navigation container queries using ignored
  docs/TROUBLESHOOTING.md
  src/styles/components/deepseek_chat.css
  src/styles/components/form/form.css
  src/styles/components/navigation/navigation.css
  src/styles/components/social-icons.css
  src/styles/utilities/utility-classes.css
Due: stylelint, update-docs

Update STYLE_GUIDE.md for BUG-057 changes
  docs/STYLE_GUIDE.md
Due: update-docs

Fix CSS minification warnings
  src/styles/components/loaders.css
Due: stylelint

DOC: Fix CSS minification warnings
  docs/TROUBLESHOOTING.md
Due: update-docs

Added comprehensive auth request and response interfaces for login, registration, session management, and password operations to align with the backend spec
  docs/TROUBLESHOOTING.md
  src/components/forms/LoginForm/LoginForm.tsx
  src/components/forms/RegisterForm/RegisterForm.tsx
  src/constants/api.ts
  src/constants/settings.ts
  src/services/apiClient.ts
  src/services/chatService.ts
  src/types/api.ts
  src/types/config.ts
Due: update-docs, generate-index

Fix ESLint errors in apiClient.ts
  src/services/apiClient.ts
Due: generate-index

Remove unused and misleading codes
  docs/adr/001-component-structure.md
  docs/adr/002-service-layer.md
  src/features/auth/index.ts
  src/features/auth/services/authService.ts
  src/features/auth/services/index.ts
  src/features/chat/components/index.ts
  src/features/chat/index.ts
  src/features/chat/services/chatService.ts
  src/features/chat/services/index.ts
  src/features/index.ts
Due: update-docs, generate-index

Fix index error
  src/index.ts
Due: generate-index

feat: add shared password strength utilities
  src/components/forms/LoginForm/LoginForm.tsx
  src/components/forms/RegisterForm/RegisterForm.tsx
  src/hooks/index.ts
  src/hooks/usePasswordStrength.ts
  src/index.ts
  src/utils/index.ts
  src/utils/password.ts
Due: generate-index

Add password complexity validation and hook
  package-lock.json
  package.json
  src/__tests__/RegisterForm.test.tsx
  src/components/forms/LoginForm/LoginForm.tsx
  src/components/forms/RegisterForm/RegisterForm.tsx
  src/content/loginContent.ts
  src/content/registerContent.ts
  src/hooks/index.ts
  src/hooks/usePasswordStrength.ts
  src/utils/index.ts
  src/utils/password.ts
Due: generate-index

Fix test error in RegisterForm.test.tsx
  src/__tests__/RegisterForm.test.tsx
Due: generate-index

Prefill login form and manage storage
  src/components/forms/LoginForm/LoginForm.tsx
  src/constants/settings.ts
Due: generate-index

Remove unnessary trailing slash from the login redirect
  src/components/forms/LoginForm/LoginForm.tsx
Due: generate-index

Add auth error handling and localization
  src/__tests__/ChatLoadingIndicator.test.tsx
  src/__tests__/LoginForm.test.tsx
  src/__tests__/RegisterForm.test.tsx
  src/components/forms/LoginForm/LoginForm.tsx
  src/components/forms/RegisterForm/RegisterForm.tsx
  src/content/authErrorContent.ts
  src/content/index.ts
  src/services/apiClient.ts
Due: generate-index

Fix ESLint errors for LoginForm.test.tsx
  src/__tests__/LoginForm.test.tsx
Due: generate-index

Add doctoc package for npm
  package-lock.json
  package.json
Due: none

Remove REGISTER_DRAFT_KEY on success
  src/components/forms/RegisterForm/RegisterForm.tsx
Due: generate-index

Reset progress on registration failure
  src/components/forms/RegisterForm/RegisterForm.tsx
Due: generate-index

Update password toggle to button element and enabled keyboard and screen-reader interaction
  src/__tests__/PasswordToggle.test.tsx
  src/components/forms/LoginForm/LoginForm.tsx
  src/components/forms/RegisterForm/RegisterForm.tsx
  src/content/registerContent.ts
  src/styles/components/form/README.md
  src/styles/components/form/form.css
Due: stylelint, generate-index

Normalize user input in registration form
  src/__tests__/RegisterForm.test.tsx
  src/components/forms/RegisterForm/RegisterForm.tsx
Due: generate-index

Add reset password page and links
  src/components/forms/LoginForm/LoginForm.tsx
  src/components/forms/ResetPasswordForm/ResetPasswordForm.tsx
  src/components/forms/ResetPasswordForm/index.ts
  src/components/sections/ResetPasswordContent.tsx
  src/components/sections/index.ts
  src/pages/reset_password.astro
  src/styles/components/reset_password.css
Due: stylelint, generate-index

Remove debugging code from LoginForm
  src/components/forms/LoginForm/LoginForm.tsx
  src/content/loginContent.ts
  src/styles/components/form/form.css
Due: stylelint, generate-index

Update third-party login and registration
  docs/REQUIREMENTS.md
  src/components/forms/LoginForm/LoginForm.tsx
  src/components/forms/RegisterForm/RegisterForm.tsx
  src/content/loginContent.ts
  src/content/registerContent.ts
Due: update-docs, generate-index

Review and update code against reset password specification
  README.md
  README_EN.md
  docs/REQUIREMENTS.md
  docs/guides/PASSWORD_RESET_SPECIFICATION.md
  src/__tests__/ForgotPasswordForm.test.tsx
  src/__tests__/ResetPasswordForm.test.tsx
  src/assets/README.md
  src/assets/README_EN.md
  src/components/forms/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/components/forms/ForgotPasswordForm/index.ts
  src/components/forms/LoginForm/LoginForm.tsx
  src/components/forms/ResetPasswordForm/ResetPasswordForm.tsx
  src/components/forms/index.ts
  src/components/sections/ForgotPasswordContent.tsx
  src/components/sections/index.ts
  src/constants/paths.ts
  src/pages/forgot_password.astro
  src/pages/reset_password.astro
  src/services/apiClient.ts
  src/styles/components/forgot_password.css
  src/utils/password.ts
Due: stylelint, validate-assets, update-docs, sync-readme, generate-index

Path conditions:
  stylelint: any of: \.css$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  validate-assets: any of: ^src/assets/.*, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  update-docs: any of: ^(README(?:_EN)?\.md|docs/.*\.md)$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  sync-readme: any of: ^(README(_EN)?\.md)$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  generate-index: any of: ^src/.*\.(ts|tsx)$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

