Repository RendaZhang/rendazhang: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, validate-assets, update-docs, sync-readme, generate-index

.pre-commit-config.yaml:

# ========================
# 预提交钩子配置
# ========================
minimum_pre_commit_version: '3.7.0'
default_stages: [pre-commit]

exclude: >
  (?x)^(
    dist/|
    vendor/|
    node_modules/|
    \.git/|
    \.astro/|
    public/|
    \.cache/|
    .*\.min\.(js|css)$
  )

repos:
  # 基础钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
      - id: trailing-whitespace
        types: [file]
        exclude: \.(ico|png|jpg|jpeg|gif|svg|webp|woff|woff2|ttf|eot|mp4|webm|wav|mp3|m4a|aac|oga|pdf)$
      - id: end-of-file-fixer
        types: [file]
        exclude: \.(ico|png|jpg|jpeg|gif|svg|webp|woff|woff2|ttf|eot|mp4|webm|wav|mp3|m4a|aac|oga|pdf)$
      - id: detect-private-key
      - id: check-added-large-files
        args: ['--maxkb=512']
        exclude: scripts/images/hero-original.jpg

  # 代码格式
  - repo: local
    hooks:
      - id: prettier
        name: Prettier Format
        entry: npx prettier --write
        language: system
        pass_filenames: true
        types_or: [javascript, jsx, ts, tsx, astro, css, json, markdown, yaml]
        exclude: \.(png|jpg|jpeg|gif|svg|webp|woff|woff2|ttf|eot|mp4|webm|wav|mp3|m4a|aac|oga|pdf)$

  # 样式检查
  - repo: local
    hooks:
      - id: stylelint
        name: Stylelint
        entry: npx stylelint
        language: system
        pass_filenames: true
        types: [css]
        args: ['--fix']

  # 语法/风格检查（仅对已暂存文件）
  # 可以在 .env 或 .env.local 文件中通过环境变量 SKIP_ESLINT 来决定是否跳过 ESLINT 的检查
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Custom Script)
        entry: npx tsx scripts/pre-commit-eslint.ts
        language: system
        # 脚本自己处理文件名
        pass_filenames: false
        types: []
        # 覆盖默认文件匹配
        files: ''
        stages: [pre-commit]

  # Asset 规范校验
  - repo: local
    hooks:
      - id: validate-assets
        name: Validate asset filenames
        entry: npm run validate-assets
        language: system
        files: ^src/assets/.*
        stages: [pre-commit]

  # 自动更新文档目录并刷新 "Last updated" 信息
  - repo: local
    hooks:
      - id: update-docs
        name: Update docs (TOC + Last Updated)
        entry: npm run update-docs
        language: system
        files: ^(README(?:_EN)?\.md|docs/.*\.md)$
        stages: [pre-commit]

  # 同步 README 文件
  - repo: local
    hooks:
      - id: sync-readme
        name: Sync README copies
        entry: npm run sync-readme
        language: system
        files: ^(README(_EN)?\.md)$
        stages: [pre-commit]

  # 自动生成模块 `index.ts` 文件
  - repo: local
    hooks:
      - id: generate-index
        name: Generate Index Files
        entry: npm run generate-index
        language: system
        files: ^src/.*\.(ts|tsx)$
        stages: [pre-commit]

feat: improve structured data content
  docs/SEO_GEO.md
  public/llms.txt
  src/__tests__/structuredData.test.ts
  src/constants/meta.ts
  src/layouts/BaseLayout.astro
  src/pages/certifications.astro
  src/pages/docs.astro
  src/pages/index.astro
Due: update-docs, generate-index

docs: define interaction component standards
  README.md
  README_EN.md
  docs/DIRECTORY_OWNERSHIP.md
  docs/FRONTEND_ARCHITECTURE.md
  docs/FRONTEND_EXPERIENCE_PLATFORM.md
  docs/INTERACTION_COMPONENT_STANDARDS.md
  docs/STYLE_GUIDE.md
  docs/TESTING.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

fix: reduce auth probe console noise
  docs/FRONTEND_ARCHITECTURE.md
  docs/FRONTEND_EXPERIENCE_PLATFORM.md
  docs/REQUIREMENTS.md
  docs/TESTING.md
  docs/TROUBLESHOOTING.md
  docs/guides/AUTH_SPECIFICATION.md
  src/__tests__/AuthProvider.test.tsx
  src/__tests__/authUtils.test.ts
  src/components/providers/AuthProvider.tsx
  src/utils/auth.ts
  tests/smoke/browser-hydration.spec.ts
Due: update-docs, generate-index

build: triage frontend chunk warning
  docs/FRONTEND_EXPERIENCE_PLATFORM.md
  docs/TESTING.md
  src/__tests__/highlight.test.ts
  src/components/chat/Chat.tsx
  src/components/sections/DocsEffects.tsx
  src/hooks/useMarkdownPipeline.ts
  src/scripts/index.ts
  src/utils/highlight.ts
  src/utils/index.ts
Due: update-docs, generate-index

content: update career transition
  docs/SEO_GEO.md
  public/llms.txt
  public/sitemap.xml
  src/__tests__/structuredData.test.ts
  src/constants/meta.ts
  src/content/aboutContent.ts
Due: update-docs, generate-index

docs: prepare visual interaction polish phase
  .pre-commit-config.yaml
  docs/FRONTEND_EXPERIENCE_PLATFORM.md
  docs/STYLE_GUIDE.md
  docs/TESTING.md
  docs/VISUAL_INTERACTION_POLISH.md
Due: update-docs

docs: audit visual interaction polish plan
  docs/VISUAL_INTERACTION_POLISH.md
Due: update-docs

style: polish homepage visual hierarchy
  docs/STYLE_GUIDE.md
  docs/THEME_PALETTE_TOKEN_MODEL.md
  docs/VISUAL_INTERACTION_POLISH.md
  src/components/sections/AboutContent.tsx
  src/components/sections/HeroSection.tsx
  src/components/ui/media/ResponsiveHero.tsx
  src/styles/components/about.css
  src/styles/components/chat_widget.css
  src/styles/components/navigation/navigation.css
  src/styles/components/responsive-hero.css
  src/styles/components/social-icons.css
  src/styles/core/theme-tokens.css
  tests/smoke/browser-hydration.spec.ts
Due: stylelint, update-docs, generate-index

style: align interaction feedback states
  docs/INTERACTION_COMPONENT_STANDARDS.md
  docs/STYLE_GUIDE.md
  docs/VISUAL_INTERACTION_POLISH.md
  src/styles/components/button/button.css
  src/styles/components/certifications.css
  src/styles/components/chat_widget.css
  src/styles/components/deepseek_chat.css
  src/styles/components/docs.css
  src/styles/components/form/form.css
  src/styles/components/misc.css
  src/styles/components/navigation/navigation.css
Due: stylelint, update-docs

style: polish chat widget shell
  docs/INTERACTION_COMPONENT_STANDARDS.md
  docs/VISUAL_INTERACTION_POLISH.md
  src/components/chat/widgets/ChatWidget.tsx
  src/styles/components/chat_widget.css
  src/styles/components/chat_widget.md
  tests/smoke/browser-hydration.spec.ts
Due: stylelint, update-docs, generate-index

style: polish docs certification surfaces
  src/components/sections/CertificationsContent.tsx
  src/styles/components/certifications.css
  src/styles/components/certifications.md
  src/styles/components/docs.css
  src/styles/components/docs.md
Due: stylelint, generate-index

docs: prepare content credibility phase
  README.md
  README_EN.md
  docs/CONTENT_CREDIBILITY_POSITIONING.md
  docs/SEO_GEO.md
  docs/VISUAL_INTERACTION_POLISH.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

docs: prepare content credibility phase
  docs/CONTENT_CREDIBILITY_POSITIONING.md
Due: update-docs

content: sharpen homepage positioning
  src/components/sections/HeroSection.tsx
  src/content/aboutContent.ts
Due: generate-index

test: stabilize auth provider state assertion
  src/__tests__/AuthProvider.test.tsx
Due: generate-index

content: frame PersonalWeb proof
  README.md
  README_EN.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

content: clarify certification credibility
  src/components/sections/CertificationsContent.tsx
  src/content/certificationsContent.ts
  src/styles/components/certifications.css
Due: stylelint, generate-index

content: compress work education proof
  src/components/sections/EducationSection.tsx
  src/components/sections/ExperienceSection.tsx
  src/content/aboutContent.ts
  src/styles/components/about.css
Due: stylelint, generate-index

seo: align content credibility metadata
  docs/SEO_GEO.md
  public/llms.txt
  public/sitemap.xml
  src/__tests__/structuredData.test.ts
  src/constants/meta.ts
Due: update-docs, generate-index

docs: prepare site intelligence phase
  README.md
  README_EN.md
  docs/SITE_INTELLIGENCE_VISITOR_JOURNEY.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

feat: add visitor event boundary
  docs/SITE_INTELLIGENCE_VISITOR_JOURNEY.md
  src/__tests__/visitorEvents.test.ts
  src/services/index.ts
  src/services/visitorEvents.ts
Due: update-docs, generate-index

feat: add chat guide presets
  docs/SITE_INTELLIGENCE_VISITOR_JOURNEY.md
  src/__tests__/ChatPresetFlow.test.tsx
  src/__tests__/ChatPresetQuestions.test.tsx
  src/components/chat/Chat.tsx
  src/components/chat/ChatPresetQuestions.tsx
  src/components/chat/index.ts
  src/content/deepseekChatContent.ts
  src/styles/components/deepseek_chat.css
Due: stylelint, update-docs, generate-index

fix: ground chat guide presets
  docs/CHAT_GUIDE_KNOWLEDGE_BOUNDARY.md
  docs/SITE_INTELLIGENCE_VISITOR_JOURNEY.md
  src/__tests__/ChatPresetFlow.test.tsx
  src/__tests__/chatGuideKnowledge.test.ts
  src/components/chat/Chat.tsx
  src/content/chatGuideKnowledge.ts
  src/content/index.ts
Due: update-docs, generate-index

fix: hide preset context from input
  docs/CHAT_GUIDE_KNOWLEDGE_BOUNDARY.md
  docs/SITE_INTELLIGENCE_VISITOR_JOURNEY.md
  src/__tests__/ChatPresetFlow.test.tsx
  src/__tests__/chatController.test.ts
  src/components/chat/Chat.tsx
  src/content/deepseekChatContent.ts
  src/controllers/chatController.ts
Due: update-docs, generate-index

docs: precheck visitor telemetry backend
  docs/SITE_INTELLIGENCE_VISITOR_JOURNEY.md
Due: update-docs

docs: plan chat guide quality phase
  README.md
  docs/CHAT_GUIDE_QUALITY_ARCHITECTURE.md
  docs/SITE_INTELLIGENCE_VISITOR_JOURNEY.md
  src/assets/README.md
Due: validate-assets, update-docs, sync-readme

feat: send chat guide mode
  docs/CHAT_GUIDE_KNOWLEDGE_BOUNDARY.md
  docs/CHAT_GUIDE_QUALITY_ARCHITECTURE.md
  docs/SITE_INTELLIGENCE_VISITOR_JOURNEY.md
  src/__tests__/ChatPresetFlow.test.tsx
  src/__tests__/chatController.test.ts
  src/__tests__/chatService.test.ts
  src/components/chat/Chat.tsx
  src/controllers/chatController.ts
  src/services/chatService.ts
Due: update-docs, generate-index

feat: add chat guide source hints
  docs/CHAT_GUIDE_KNOWLEDGE_BOUNDARY.md
  docs/CHAT_GUIDE_QUALITY_ARCHITECTURE.md
  src/__tests__/ChatPresetFlow.test.tsx
  src/__tests__/chatGuideKnowledge.test.ts
  src/components/chat/AIMessage.tsx
  src/components/chat/Chat.tsx
  src/components/chat/ChatGuideSourceHints.tsx
  src/components/chat/ChatMessageList.tsx
  src/components/chat/index.ts
  src/content/chatGuideKnowledge.ts
  src/content/deepseekChatContent.ts
  src/styles/components/deepseek_chat.css
  src/styles/components/deepseek_chat.md
Due: stylelint, update-docs, generate-index

docs: add operations maintenance guide
  README.md
  docs/CI_CD.md
  docs/OPERATIONS.md
  src/assets/README.md
Due: validate-assets, update-docs, sync-readme

docs: add dependency risk register
  README.md
  docs/CI_CD.md
  docs/DEPENDENCY_SECURITY_RISK_REGISTER.md
  docs/OPERATIONS.md
  src/assets/README.md
Due: validate-assets, update-docs, sync-readme

docs: precheck astro 7 upgrade
  README.md
  README_EN.md
  docs/ASTRO_7_UPGRADE_PRECHECK.md
  docs/DEPENDENCY_SECURITY_RISK_REGISTER.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

build: upgrade frontend to astro 7
  docs/ASTRO_7_UPGRADE_PRECHECK.md
  docs/DEPENDENCY_SECURITY_RISK_REGISTER.md
  docs/FRONTEND_ARCHITECTURE.md
  docs/TESTING.md
  package-lock.json
  package.json
  public/js/deepseek-embed.js
  scripts/generateIndex.ts
  src/pages/deepseek_chat.astro
  src/utils/index.ts
Due: update-docs, generate-index

docs: close operations phase
  README.md
  docs/ASTRO_7_UPGRADE_PRECHECK.md
  docs/OPERATIONS.md
  src/assets/README.md
Due: validate-assets, update-docs, sync-readme

docs: prepare portfolio proof phase
  README.md
  README_EN.md
  docs/PORTFOLIO_PROOF_VISITOR_CONVERSION.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

docs: audit portfolio proof phase
  docs/PORTFOLIO_PROOF_VISITOR_CONVERSION.md
Due: update-docs

feat: add personalweb case study surface
  docs/PORTFOLIO_PROOF_VISITOR_CONVERSION.md
  src/components/sections/DocsCaseStudySurface.astro
  src/content/docsCaseStudyContent.ts
  src/content/index.ts
  src/pages/docs.astro
  src/styles/components/docs.css
Due: stylelint, update-docs, generate-index

feat: refine homepage proof path
  docs/PORTFOLIO_PROOF_VISITOR_CONVERSION.md
  src/components/sections/AboutContent.tsx
  src/components/sections/HeroSection.tsx
  src/components/sections/HomepageProofPathSection.tsx
  src/components/sections/index.ts
  src/content/aboutContent.ts
  src/styles/components/about.css
  src/styles/components/navigation/navigation.css
  tests/smoke/browser-hydration.spec.ts
Due: stylelint, update-docs, generate-index

fix(deps): patch frontend security advisories
  docs/DEPENDENCY_SECURITY_RISK_REGISTER.md
  package-lock.json
  package.json
  scripts/generate-hero.ts
Due: update-docs

fix: correct time-sensitive public content
  public/llms.txt
  public/sitemap.xml
  src/__tests__/BlogSection.test.tsx
  src/__tests__/aboutContent.test.ts
  src/__tests__/chatGuideKnowledge.test.ts
  src/__tests__/structuredData.test.ts
  src/components/sections/AboutContent.tsx
  src/components/sections/BlogSection.tsx
  src/constants/meta.ts
  src/content/aboutContent.ts
  src/content/chatGuideKnowledge.ts
Due: generate-index
