Repository RendaZhang/rendazhang: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, validate-assets, update-docs, sync-readme, generate-index

stylelint:
  name: Stylelint
  entry: npx stylelint
  language: system
  pass_filenames: true
  args:
  - --fix

validate-assets:
  name: Validate asset filenames
  entry: npm run validate-assets
  language: system
  stages:
  - pre-commit

update-docs:
  name: Update docs (TOC + Last Updated)
  entry: npm run update-docs
  language: system
  stages:
  - pre-commit

sync-readme:
  name: Sync README copies
  entry: npm run sync-readme
  language: system
  stages:
  - pre-commit

generate-index:
  name: Generate Index Files
  entry: npm run generate-index
  language: system
  stages:
  - pre-commit

DOC: integrated more user auth related info
  README.md
  README_EN.md
  docs/guides/AUTH_SPECIFICATION.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

Fix TypeScript type errors in ResetPasswordForm
  src/components/forms/ResetPasswordForm/ResetPasswordForm.tsx
Due: generate-index

Sanitize options for Sentry exception
  src/__tests__/apiClient.request.test.ts
  src/services/apiClient.ts
Due: generate-index

Standardized rate-limit error messages, Added global 401 handling and Aligned type definitions with backend docs
  src/content/authErrorContent.ts
  src/services/apiClient.ts
  src/types/api.ts
Due: generate-index

Update email processing in handleSubmit
  src/__tests__/ForgotPasswordForm.test.tsx
  src/components/forms/ForgotPasswordForm/ForgotPasswordForm.tsx
Due: generate-index

Add 401 response handling to chatService
  src/__tests__/chatService.test.ts
  src/services/chatService.ts
Due: generate-index

Edit apiClient to enforce credentials and headers
  docs/REQUIREMENTS.md
  src/__tests__/apiClient.request.test.ts
  src/services/apiClient.ts
Due: update-docs, generate-index

Update ResetPasswordForm for token error
  src/__tests__/ResetPasswordForm.test.tsx
  src/components/forms/ResetPasswordForm/ResetPasswordForm.tsx
Due: generate-index

Add network error handling and tests
  src/__tests__/ForgotPasswordForm.test.tsx
  src/__tests__/ResetPasswordForm.test.tsx
  src/components/forms/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/components/forms/ResetPasswordForm/ResetPasswordForm.tsx
Due: generate-index

Update cache and referrer meta tags
  src/pages/forgot_password.astro
  src/pages/login.astro
  src/pages/register.astro
Due: none

Remove extra test related code
  src/__tests__/apiClient.request.test.ts
Due: generate-index

When the API returns a 409 conflict, users see a localized message with a link directing them to the login page
  src/components/forms/RegisterForm/RegisterForm.tsx
Due: generate-index

Add return to login button for forgot password page
  src/components/forms/ForgotPasswordForm/ForgotPasswordForm.tsx
Due: generate-index

Add return to login button for reset password page
  src/components/forms/ResetPasswordForm/ResetPasswordForm.tsx
Due: generate-index

Add autoComplete attributes to forms
  src/components/forms/LoginForm/LoginForm.tsx
  src/components/forms/RegisterForm/RegisterForm.tsx
Due: generate-index

Fix register form submit condition
  src/components/forms/RegisterForm/RegisterForm.tsx
Due: generate-index

Add login state management and logout confirmation
  docs/REQUIREMENTS.md
  docs/TROUBLESHOOTING.md
  src/components/layouts/NavBar.tsx
  src/components/layouts/NavBarWrapper.tsx
  src/components/providers/AuthProvider.tsx
  src/components/providers/index.ts
  src/components/ui/data-display/LogoutIcon.tsx
  src/components/ui/data-display/index.ts
  src/components/ui/widgets/ConfirmDialog.tsx
  src/components/ui/widgets/Modal.tsx
  src/components/ui/widgets/index.ts
  src/content/navContent.ts
  src/services/apiClient.ts
  src/styles/components/modal.css
  src/styles/components/modal.md
Due: stylelint, update-docs, generate-index

Fix logout confirmation dialog layout
  src/styles/components/modal.css
  src/styles/components/modal.md
  src/styles/theme.css
Due: stylelint

Update markdown-dark-mode color contrast to align with markdown light css
  src/styles/components/markdown-dark-mode.css
  src/styles/components/markdown-dark-mode.md
Due: stylelint

Refactor hardcoded colors in CSS
  src/styles/components/markdown-dark-mode.css
  src/styles/core/tokens.css
Due: stylelint

Fix icon flicker after login
  docs/REQUIREMENTS.md
  docs/TROUBLESHOOTING.md
  docs/guides/AUTH_SPECIFICATION.md
  public/js/base-layout-init.js
  src/components/forms/LoginForm/LoginForm.tsx
  src/components/forms/ResetPasswordForm/ResetPasswordForm.tsx
  src/components/layouts/NavBar.tsx
  src/components/providers/AuthProvider.tsx
  src/constants/settings.ts
  src/layouts/BaseLayout.astro
  src/scripts/base-layout-init.ts
  src/services/apiClient.ts
  src/services/chatService.ts
  src/styles/components/navigation/navigation.css
Due: stylelint, update-docs, generate-index

Trivial fix to a lint error caused by removing the Sentry logging
  src/services/apiClient.ts
Due: generate-index

Comment out to pass eslint check
  src/services/apiClient.ts
Due: generate-index

Remove unwanted test case
  src/__tests__/apiClient.request.test.ts
Due: generate-index

Trivial fix
  src/__tests__/apiClient.request.test.ts
Due: generate-index

Add user info settings entry
  README.md
  README_EN.md
  docs/REQUIREMENTS.md
  src/assets/README.md
  src/assets/README_EN.md
  src/components/layouts/HamburgerMenu.tsx
  src/components/sections/ProfileContent.tsx
  src/components/sections/index.ts
  src/constants/meta.ts
  src/constants/paths.ts
  src/content/index.ts
  src/content/navContent.ts
  src/content/profileContent.ts
  src/pages/profile.astro
  src/styles/components/profile.css
Due: stylelint, validate-assets, update-docs, sync-readme, generate-index

Small bug fix for displaying the Chinese lang content for the user login profile
  src/components/sections/ProfileContent.tsx
Due: generate-index

Rename the profile page related constants and updated the docs to make the meaning of user account deliver better
  README.md
  README_EN.md
  docs/REQUIREMENTS.md
  src/assets/README.md
  src/assets/README_EN.md
  src/constants/meta.ts
  src/content/navContent.ts
  src/content/profileContent.ts
Due: validate-assets, update-docs, sync-readme, generate-index

Update navigation icon after login
  docs/REQUIREMENTS.md
  src/components/layouts/NavBar.tsx
  src/components/ui/data-display/LoggedInIcon.tsx
  src/components/ui/data-display/index.ts
  src/content/navContent.ts
  src/styles/components/navigation/README.md
  src/styles/components/navigation/navigation.css
Due: stylelint, update-docs, generate-index

Redirect logged-in users from login page
  docs/REQUIREMENTS.md
  docs/guides/AUTH_SPECIFICATION.md
  src/pages/login.astro
Due: update-docs

Update modal overlay color contrast
  src/styles/components/modal.css
  src/styles/core/tokens.css
Due: stylelint

Revamp user authentication UI design
  src/components/layouts/NavBar.tsx
  src/styles/components/form/README.md
  src/styles/components/form/form.css
  src/styles/components/navigation/README.md
  src/styles/components/navigation/navigation.css
Due: stylelint, generate-index

Add loading animation for auth success
  docs/REQUIREMENTS.md
  src/components/forms/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/components/forms/LoginForm/LoginForm.tsx
  src/components/forms/RegisterForm/RegisterForm.tsx
  src/components/forms/ResetPasswordForm/ResetPasswordForm.tsx
  src/components/ui/widgets/AuthOverlay.tsx
  src/components/ui/widgets/index.ts
  src/styles/components/loaders.css
  src/styles/components/loaders.md
Due: stylelint, update-docs, generate-index

Fix TypeScript error in RegisterForm
  src/content/registerContent.ts
Due: generate-index

Analyze and update color token usage
  docs/REQUIREMENTS.md
  docs/STYLE_GUIDE.md
  src/styles/components/markdown-dark-mode.css
  src/styles/core/_gradients.css
  src/styles/core/_gradients.md
  src/styles/core/tokens.css
  src/styles/core/tokens.md
Due: stylelint, update-docs

Increase optimal --measure value to 75ch and adjust the padding for the docs page
  src/styles/components/docs.css
  src/styles/components/github-markdown-light.css
  src/styles/components/markdown-dark-mode.css
  src/styles/core/tokens.css
Due: stylelint

Update resume to version 2025-09-23
  src/assets/Resume_RendaZhang.pdf
  src/assets/个人简历_张人大.pdf
Due: validate-assets

Update path constant for Resume
  src/constants/paths.ts
Due: generate-index

Update AboutContent with new resume details
  src/content/aboutContent.ts
Due: generate-index

Path conditions:
  stylelint: any of: \.css$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  validate-assets: any of: ^src/assets/.*, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  update-docs: any of: ^(README(?:_EN)?\.md|docs/.*\.md)$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  sync-readme: any of: ^(README(_EN)?\.md)$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

  generate-index: any of: ^src/.*\.(ts|tsx)$, but not: (?x)^(
  dist/|
  vendor/|
  node_modules/|
  \.git/|
  \.astro/|
  public/|
  \.cache/|
  .*\.min\.(js|css)$
)

