Repository RendaZhang/rendazhang: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, validate-assets, update-docs, sync-readme, generate-index

.pre-commit-config.yaml:

# ========================
# 预提交钩子配置
# ========================
minimum_pre_commit_version: '3.7.0'
default_stages: [pre-commit]

exclude: >
  (?x)^(
    dist/|
    vendor/|
    node_modules/|
    \.git/|
    \.astro/|
    public/|
    \.cache/|
    .*\.min\.(js|css)$
  )

repos:
  # 基础钩子
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
      - id: trailing-whitespace
        types: [file]
        exclude: \.(ico|png|jpg|jpeg|gif|svg|webp|woff|woff2|ttf|eot|mp4|webm|wav|mp3|m4a|aac|oga|pdf)$
      - id: end-of-file-fixer
        types: [file]
        exclude: \.(ico|png|jpg|jpeg|gif|svg|webp|woff|woff2|ttf|eot|mp4|webm|wav|mp3|m4a|aac|oga|pdf)$
      - id: detect-private-key
      - id: check-added-large-files
        args: ['--maxkb=512']
        exclude: scripts/images/hero-original.jpg

  # 代码格式
  - repo: local
    hooks:
      - id: prettier
        name: Prettier Format
        entry: npx prettier --write
        language: system
        pass_filenames: true
        types_or: [javascript, jsx, ts, tsx, astro, css, json, markdown, yaml]
        exclude: \.(png|jpg|jpeg|gif|svg|webp|woff|woff2|ttf|eot|mp4|webm|wav|mp3|m4a|aac|oga|pdf)$

  # 样式检查
  - repo: local
    hooks:
      - id: stylelint
        name: Stylelint
        entry: npx stylelint
        language: system
        pass_filenames: true
        types: [css]
        args: ['--fix']

  # 语法/风格检查（仅对已暂存文件）
  # 可以在 .env 或 .env.local 文件中通过环境变量 SKIP_ESLINT 来决定是否跳过 ESLINT 的检查
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Custom Script)
        entry: npx tsx scripts/pre-commit-eslint.ts
        language: system
        # 脚本自己处理文件名
        pass_filenames: false
        types: []
        # 覆盖默认文件匹配
        files: ''
        stages: [pre-commit]

  # Asset 规范校验
  - repo: local
    hooks:
      - id: validate-assets
        name: Validate asset filenames
        entry: npm run validate-assets
        language: system
        files: ^src/assets/.*
        stages: [pre-commit]

  # 自动更新文档目录并刷新 "Last updated" 信息
  - repo: local
    hooks:
      - id: update-docs
        name: Update docs (TOC + Last Updated)
        entry: npm run update-docs
        language: system
        files: ^(README(?:_EN)?\.md|docs/.*\.md)$
        stages: [pre-commit]

  # 同步 README 文件
  - repo: local
    hooks:
      - id: sync-readme
        name: Sync README copies
        entry: npm run sync-readme
        language: system
        files: ^(README(_EN)?\.md)$
        stages: [pre-commit]

  # 自动生成模块 `index.ts` 文件
  - repo: local
    hooks:
      - id: generate-index
        name: Generate Index Files
        entry: npm run generate-index
        language: system
        files: ^src/.*\.(ts|tsx)$
        stages: [pre-commit]

docs: define personal voice contract
  README.md
  README_EN.md
  docs/CONTENT_CREDIBILITY_POSITIONING.md
  docs/HUMAN_VOICE_PERSONAL_EXPRESSION.md
  docs/PORTFOLIO_PROOF_VISITOR_CONVERSION.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

feat: personalize homepage narrative
  docs/HUMAN_VOICE_PERSONAL_EXPRESSION.md
  docs/PORTFOLIO_PROOF_VISITOR_CONVERSION.md
  src/__tests__/HomepageNarrative.test.tsx
  src/__tests__/aboutContent.test.ts
  src/components/sections/AboutContent.tsx
  src/components/sections/HeroSection.tsx
  src/components/sections/HomepageProofPathSection.tsx
  src/components/sections/SkillsSection.tsx
  src/content/aboutContent.ts
  src/styles/components/about.css
  src/styles/components/about.md
  tests/smoke/browser-hydration.spec.ts
Due: stylelint, update-docs, generate-index

feat: humanize project and certification stories
  README.md
  README_EN.md
  docs/HUMAN_VOICE_PERSONAL_EXPRESSION.md
  src/__tests__/DocsCertificationNarrative.test.tsx
  src/assets/README.md
  src/assets/README_EN.md
  src/components/sections/CertificationsContent.tsx
  src/components/sections/DocsCaseStudySurface.astro
  src/content/certificationsContent.ts
  src/content/docsCaseStudyContent.ts
  src/styles/components/certifications.css
  src/styles/components/certifications.md
  src/styles/components/docs.css
  src/styles/components/docs.md
Due: stylelint, validate-assets, update-docs, sync-readme, generate-index

feat: refine chat guide flow
  docs/CHAT_GUIDE_KNOWLEDGE_BOUNDARY.md
  docs/CHAT_GUIDE_QUALITY_ARCHITECTURE.md
  docs/HUMAN_VOICE_PERSONAL_EXPRESSION.md
  docs/SITE_INTELLIGENCE_VISITOR_JOURNEY.md
  src/__tests__/ChatLoadingIndicator.test.tsx
  src/__tests__/ChatPresetFlow.test.tsx
  src/__tests__/ChatPresetQuestions.test.tsx
  src/__tests__/chatGuideKnowledge.test.ts
  src/__tests__/deepseekChatContent.test.ts
  src/components/chat/Chat.tsx
  src/content/chatGuideKnowledge.ts
  src/content/deepseekChatContent.ts
  src/styles/components/deepseek_chat.css
  tests/smoke/browser-hydration.spec.ts
Due: stylelint, update-docs, generate-index

fix(deps): patch rendering security advisories
  docs/DEPENDENCY_SECURITY_RISK_REGISTER.md
  package-lock.json
  package.json
  src/__tests__/MarkdownRenderingSecurity.test.tsx
Due: update-docs, generate-index

fix(docs): render diagrams after language changes
  docs/TESTING.md
  src/__tests__/DocsEffects.test.tsx
  src/components/sections/DocsEffects.tsx
  tests/smoke/browser-hydration.spec.ts
Due: update-docs, generate-index

fix(ui): polish navigation and mobile interactions
  docs/INTERACTION_COMPONENT_STANDARDS.md
  docs/TESTING.md
  src/__tests__/HamburgerMenu.test.tsx
  src/__tests__/LanguageSelector.test.tsx
  src/__tests__/NavigationContent.test.ts
  src/__tests__/ThemeToggle.test.tsx
  src/components/layouts/HamburgerMenu.tsx
  src/components/layouts/NavBar.tsx
  src/components/ui/inputs/LanguageSelector.tsx
  src/components/ui/inputs/ThemeToggle.tsx
  src/content/navContent.ts
  src/styles/components/about.css
  src/styles/components/navigation/README.md
  src/styles/components/navigation/navigation.css
  tests/smoke/browser-hydration.spec.ts
Due: stylelint, update-docs, generate-index

seo: align metadata and public site summaries
  README_EN.md
  docs/SEO_GEO.md
  public/llms.txt
  public/sitemap.xml
  src/__tests__/publicMetadata.test.ts
  src/__tests__/structuredData.test.ts
  src/assets/README_EN.md
  src/constants/meta.ts
  src/constants/paths.ts
Due: validate-assets, update-docs, sync-readme, generate-index

fix(auth): keep reset tokens out of request URLs
  AGENTS.md
  docs/REQUIREMENTS.md
  docs/guides/AUTH_SPECIFICATION.md
  src/__tests__/ResetPasswordForm.test.tsx
  src/components/forms/ResetPasswordForm/ResetPasswordForm.tsx
  tests/smoke/browser-hydration.spec.ts
Due: update-docs, generate-index

test(browser): wait for navigation hydration
  docs/TESTING.md
  tests/smoke/browser-hydration.spec.ts
Due: update-docs

feat: add isolated frontend release engine
  .github/workflows/release-engine-validation.yml
  .gitignore
  docs/RELEASE_ENGINE.md
  docs/TESTING.md
  scripts/release-dependencies.mjs
  scripts/release.py
  scripts/release_engine/__init__.py
  scripts/release_engine/artifact.py
  scripts/release_engine/engine.py
  scripts/release_engine/system.py
  tests/release/cleanup_systemd.py
  tests/release/crash_worker.py
  tests/release/resource_monitor.py
  tests/release/support.py
  tests/release/test_artifact.py
  tests/release/test_engine.py
  tests/release/test_systemd.py
Due: update-docs

fix: guard and reconcile explicit release rollback
  docs/RELEASE_ENGINE.md
  scripts/release_engine/engine.py
  scripts/release_engine/system.py
  tests/release/crash_worker.py
  tests/release/test_engine.py
  tests/release/test_systemd.py
Due: update-docs

fix: bound supervisor memory and guard retry ownership
  docs/RELEASE_ENGINE.md
  scripts/release.py
  scripts/release_engine/artifact.py
  scripts/release_engine/engine.py
  scripts/release_engine/protocol.py
  scripts/release_engine/system.py
  tests/release/support.py
  tests/release/test_artifact.py
  tests/release/test_engine.py
Due: update-docs

fix: align release memory admission and operation outcomes
  docs/RELEASE_ENGINE.md
  scripts/release.py
  scripts/release_engine/system.py
  tests/release/test_artifact.py
  tests/release/test_systemd.py
Due: update-docs

feat: integrate guarded frontend release workflow
  .github/workflows/deploy.yml
  .github/workflows/release-engine-validation.yml
  AGENTS.md
  docs/CI_CD.md
  docs/OPERATIONS.md
  docs/RELEASE_ENGINE.md
  docs/TESTING.md
  package.json
  playwright.acceptance.config.ts
  playwright.smoke.config.ts
  scripts/browser-smoke.mjs
  scripts/release-policy.json
  scripts/release-workflow-check.mjs
  scripts/release.py
  scripts/release_acceptance.py
  scripts/release_bootstrap.py
  scripts/release_bundle.py
  scripts/release_distribution.py
  scripts/release_engine/engine.py
  scripts/release_engine/origin.py
  scripts/release_engine/ownership.py
  scripts/release_engine/system.py
  scripts/release_host.py
  scripts/release_preview.py
  scripts/release_preview_check.py
  scripts/release_process.py
  scripts/release_runner.py
  scripts/release_transport.py
  tests/acceptance/origin.spec.ts
  tests/release/resource_monitor.py
  tests/release/support.py
  tests/release/test_bootstrap.py
  tests/release/test_distribution.py
  tests/release/test_host.py
  tests/release/test_integration_systemd.py
  tests/release/test_origin.py
  tests/release/test_runner.py
  tests/release/test_transport.py
  vitest.config.ts
Due: update-docs

docs: clarify automatic deployment ownership
  AGENTS.md
  docs/OPERATIONS.md
Due: update-docs

fix(deps): patch Astro and Sharp image advisories
  docs/DEPENDENCY_SECURITY_RISK_REGISTER.md
  package-lock.json
  package.json
  src/__tests__/FontCacheCompatibility.test.ts
  src/__tests__/SharpNativeImages.test.ts
Due: update-docs, generate-index

fix(deps): patch DOMPurify sanitizer advisories
  docs/DEPENDENCY_SECURITY_RISK_REGISTER.md
  docs/TESTING.md
  package-lock.json
  package.json
  src/__tests__/MarkdownRenderingSecurity.test.tsx
  tests/smoke/markdown-security.spec.ts
Due: update-docs, generate-index

fix(deps): patch build data parser advisories
  docs/DEPENDENCY_SECURITY_RISK_REGISTER.md
  docs/TESTING.md
  package-lock.json
  src/__tests__/BuildDataCompatibility.test.ts
  src/__tests__/fixtures/build-data-bounded.mjs
Due: update-docs, generate-index

fix(deps): patch build query and target data advisories
  docs/DEPENDENCY_SECURITY_RISK_REGISTER.md
  docs/TESTING.md
  package-lock.json
  src/__tests__/BuildQueryCompatibility.test.ts
  src/__tests__/fixtures/build-query-bounded.mjs
Due: update-docs, generate-index

fix(deps): patch SVG tooling advisories
  docs/DEPENDENCY_SECURITY_RISK_REGISTER.md
  docs/TESTING.md
  package-lock.json
  src/__tests__/SvgToolingCompatibility.test.ts
  src/__tests__/fixtures/svg-tooling-bounded.mjs
Due: update-docs, generate-index

fix(deps): patch lint tooling advisories
  docs/DEPENDENCY_SECURITY_RISK_REGISTER.md
  docs/TESTING.md
  package-lock.json
  src/__tests__/LintDependencyCompatibility.test.ts
  src/__tests__/fixtures/lint-dependency-bounded.mjs
Due: update-docs, generate-index

fix(deps): patch vitest mocker file access
  docs/DEPENDENCY_SECURITY_RISK_REGISTER.md
  docs/TESTING.md
  package-lock.json
  package.json
  src/__tests__/VitestDependencyCompatibility.test.ts
  src/__tests__/fixtures/vitest-dependency-bounded.mjs
Due: update-docs, generate-index

fix(deps): patch sharp librsvg advisory
  docs/DEPENDENCY_SECURITY_RISK_REGISTER.md
  docs/TESTING.md
  package-lock.json
  package.json
  src/__tests__/SharpNativeImages.test.ts
Due: update-docs, generate-index

docs: simplify Git workflow and slice cleanup
  AGENTS.md
  README.md
  README_EN.md
  docs/CI_CD.md
  docs/GIT_WORKFLOW.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme

docs: record dependency residual decisions
  docs/DEPENDENCY_SECURITY_RISK_REGISTER.md
Due: update-docs

docs: define personal theme palette contract
  AGENTS.md
  docs/PERSONAL_THEME_PALETTES.md
  docs/THEME_PALETTE_TOKEN_MODEL.md
Due: update-docs

feat(theme): add ink and vermilion palette
  AGENTS.md
  docs/PERSONAL_THEME_PALETTES.md
  docs/STYLE_GUIDE.md
  docs/TESTING.md
  docs/THEME_PALETTE_TOKEN_MODEL.md
  scripts/contrast-check.mjs
  src/__tests__/DocsEffects.test.tsx
  src/__tests__/ThemeToggle.test.tsx
  src/__tests__/themePaletteTokens.test.ts
  src/components/sections/DocsEffects.tsx
  src/content/navContent.ts
  src/styles/components/about.css
  src/styles/components/app-header.css
  src/styles/components/button/button.css
  src/styles/components/certifications.css
  src/styles/components/chat_widget.css
  src/styles/components/deepseek_chat.css
  src/styles/components/docs.css
  src/styles/components/form/form.css
  src/styles/components/github-code-highlight.css
  src/styles/components/markdown-dark-mode.css
  src/styles/components/misc.css
  src/styles/components/navigation/navigation.css
  src/styles/core/_gradients.md
  src/styles/core/theme-tokens.css
  src/styles/core/theme-tokens.md
  src/styles/core/tokens.css
  src/styles/core/tokens.md
  src/styles/layout.css
  tests/smoke/browser-hydration.spec.ts
Due: stylelint, update-docs, generate-index

feat(theme): complete cobalt and pine palettes
  AGENTS.md
  docs/PERSONAL_THEME_PALETTES.md
  docs/STYLE_GUIDE.md
  docs/TESTING.md
  docs/THEME_PALETTE_TOKEN_MODEL.md
  scripts/contrast-check.mjs
  src/__tests__/ThemeToggle.test.tsx
  src/__tests__/themePaletteTokens.test.ts
  src/content/navContent.ts
  src/styles/components/about.css
  src/styles/components/app-header.css
  src/styles/components/button/button.css
  src/styles/components/certifications.css
  src/styles/components/chat_widget.css
  src/styles/components/deepseek_chat.css
  src/styles/components/docs.css
  src/styles/components/form/form.css
  src/styles/components/github-code-highlight.css
  src/styles/components/markdown-dark-mode.css
  src/styles/components/misc.css
  src/styles/components/navigation/navigation.css
  src/styles/core/_gradients.md
  src/styles/core/theme-tokens.css
  src/styles/core/theme-tokens.md
  src/styles/core/tokens.css
  src/styles/core/tokens.md
  src/styles/layout.css
  tests/smoke/browser-hydration.spec.ts
Due: stylelint, update-docs, generate-index

docs: reconcile personal theme acceptance
  README.md
  README_EN.md
  docs/PERSONAL_THEME_PALETTES.md
  docs/STYLE_GUIDE.md
  docs/THEME_PALETTE_TOKEN_MODEL.md
  src/assets/README.md
  src/assets/README_EN.md
Due: validate-assets, update-docs, sync-readme
